name: CI Workflow
  
on:
  push:
    branches:
      -master
  pull_request:
    branches:
      -master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        users: actions/checkout@v2

      - name: Set up Python
        users: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run:  |
          python -m pip install --upgrade pip
          pip install pytest streamlit

      - name: Run tests
        run: |
          pytest _test.py
          